<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xposedmoudle">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--是否作为模块-->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="hellow xposed" />
        <!--这个版本对应的是引入的jar版本-->
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>
</manifest>